Syntactically, a tuple is a comma-separated list of values

In [ ]:
mytuple = 'a', 'b', 'c', 'd', 'e'

In [ ]:
print(mytuple)

('a', 'b', 'c', 'd', 'e')

In [ ]:
mytuple

('a', 'b', 'c', 'd', 'e')

Although it is not necessary, it is conventional to enclose tuples in parentheses:

In [ ]:
tuple = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, we have to include the final comma:

In [ ]:
t1 = ('a',)

In [ ]:
type(t1)

tuple

Without the comma, Python treats ('a') as a string in parentheses:

In [ ]:
t2 = ('a')

In [ ]:
type(t2)

str

Operations on tuples are the same as the operations on
lists. The index operator selects an element from a tuple.

In [ ]:
tuple

('a', 'b', 'c', 'd', 'e')

In [ ]:
tuple[-1]

'e'

And the slice operator selects a range of elements.

In [ ]:
tuple[1:3]

('b', 'c')

Immutable

In [ ]:
tuple

('a', 'b', 'c', 'd', 'e')

In [ ]:
tuple[0] = 'A'

TypeError: ignored

But if we try to modify one of the elements of the tuple, we get an error:

In [ ]:
tuple = ('A',) + tuple[1:]

In [ ]:
print(tuple)

('A', 'b', 'c', 'd', 'e')

In [ ]:
tup=list(tuple)
tup[0]='A'
#tuple=tuple(tup)

#Tuple assignment

In [ ]:
a=3
b=2

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
print(a,b)

3 2

In [ ]:
(a, b) = (b, a)

In [ ]:
type((a,b))

tuple

In [ ]:
print(a,b)

2 3

In [ ]:
(a, b, c, d) = (1, 2, 3,4)

#Tuples as return values

In [ ]:
def swap(x, y):
 return (y, x)

In [ ]:
def fun5(x, y):
 return (y, x, p,q,r)

In [ ]:
a,b,c,d,e = fun5(x, y)

In [ ]:
p=5
q=6

In [ ]:
p,q=swap(p,q)

In [ ]:
print(p)
print(q)

6
5

Another Method

In [ ]:
def swap2(x, y): 
 x, y = y, x
 return (x,y)

In [ ]:
a=5
b=6

In [ ]:
(a,b)=swap2(a,b)

In [ ]:
print(a)
print(b)

6
5

#Random Numbers

In [ ]:
[*range(10+1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def random():
    print("My random function")

In [ ]:
random()

My random function

In [ ]:
import random as rd
rd.random()

0.17010247617206398

In [ ]:
import random
for i in range(10):
  print("Index",i,":")
  x = rd.random()
  print (x)

Index 0 :
0.23731502928243997
Index 1 :
0.3302410365958216
Index 2 :
0.47134768528672333
Index 3 :
0.11167806554697801
Index 4 :
0.5479236489570157
Index 5 :
0.9174918508658539
Index 6 :
0.6450017021674603
Index 7 :
0.2283484553359627
Index 8 :
0.8632420965837018
Index 9 :
0.9051343183577528

In [ ]:
import random
for i in range(10):
  x = random.random()
  print (x)

0.8464005539519207
0.4648080388314757
0.10854234374297389
0.4853895985525172
0.7935539081662221
0.4443320252755262
0.28443444365704107
0.10216980523509211
0.24188864399727683
0.009575022330045813

#Generate a random number between low and high

In [ ]:
low=10
high=20
print([*range(low,high+1)])

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
low=10
high=20
print([*range(low,high)])
import random
for i in range(low,high):
  x = random.random()
  print (round(x*high,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
8.6
3.3
9.3
12.3
13.4
18.5
3.4
14.5
12.9
16.6

#As an additional exercise, generate a random integer between low and high, including both end points.

In [ ]:
low=10
high=20
print([*range(low,high+1)])
import random
for i in range(low,high+1):
  x = random.random()
  print (round(x*high,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1.2
16.3
1.8
11.8
16.3
8.6
15.7
1.1
3.2
1.3
8.7

#List of random numbers

In [ ]:
n=10

In [ ]:
s = [0] * n
s

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def randomList(n):
  s = [0] * n
  for i in range(n):
    s[i] = random.random()
  return s

In [ ]:
mylist=randomList(10)
mylist

[0.5394746442585003,
 0.942651360193001,
 0.5596814226383872,
 0.1528989734498445,
 0.16719939578448983,
 0.19478804602818156,
 0.9101180915561838,
 0.306117671743643,
 0.7377006904173695,
 0.7742773446404088]

The numbers generated by random are supposed to be distributed uniformly,
which means that every value is equally likely.

If we divide the range of possible values into equal-sized "buckets," and count
the number of times a random value falls in each bucket, we should get roughly
the same number in each.

We can test this theory by writing a program to divide the range into buckets
and count the number of values in each.

In [ ]:
def randomList(n):
  s = [0] * n
  for i in range(n):
    s[i] = random.random()
  return s

In [ ]:
def inBucket(t, low, high):
  count = 0
  for num in t:
    if low < num < high:
      count = count + 1
  return count

In [ ]:
rlist1=randomList(100)
rlist2=randomList(500)

In [ ]:
low = inBucket(rlist1, 0.0, 0.5)
print(low)
high = inBucket(rlist1, 0.5, 1)
print(high)

50
50

In [ ]:
low = inBucket(rlist2, 0.0, 0.5)
print(low)
high = inBucket(rlist2, 0.5, 1)
print(high)

237
263

#Tuple Operations

In [ ]:
tuple = (1,2,3,4,5,6)

In [ ]:
tuple*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
tuple+tuple+tuple

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

#Sorting

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

#Nested Tuple

In [ ]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [ ]:
NestedT[4][1][1]

2

In [ ]:
print(NestedT[4][0])

disco

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

#Programming Exercise

#Find the length of the tuple, genres_tuple

In [ ]:

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock","R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
len(genres_tuple)

8

#Access the element, with respect to index 3:

In [ ]:
genres_tuple[3]

'hard rock'

#Use slicing to obtain indexes 3, 4 and 5

In [ ]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

#Find the first two elements of the tuple genres_tuple

In [ ]:
genres_tuple[0:2]

('pop', 'rock')

#Find the first index of "disco"

In [ ]:
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
genres_tuple.index("disco")

7

#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3)

In [ ]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

#Set

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

In [17]:
myset = {1, 2, 3}
print(myset)

myset = {1.0, "Apple", (1, 2, 3)}
print(myset)

{1, 2, 3}
{1.0, 'Apple', (1, 2, 3)}

In [18]:
# initialize a with set()
a = set()
print(type(a))

<class 'set'>

#Indexing in Set (Not Supported)

In [19]:
myset = {1, 3}
print(myset)

myset[0]

{1, 3}

TypeError: ignored

#Adding element in Set

In [21]:
myset = {1, 3}
print(myset)

myset.add(2)
print(myset)

myset.update([2, 3, 4])
print(myset)

myset.update([4, 5], {1, 6, 8})
print(myset)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

#Discard

In [24]:
myset = {1, 3, 4, 5, 6}
print(myset)


myset.discard(4)
print(myset)

myset.discard(2)
print(myset)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5, 6}

#Remove

In [25]:
myset.remove(6)
print(myset)



myset.remove(2)

{1, 3, 5}

KeyError: ignored

In [27]:

myset = set("Apple")
print(myset)


print(myset.pop())

myset.pop()
print(myset)


myset.clear()
print(myset)

print(myset)

{'p', 'A', 'e', 'l'}
p
{'e', 'l'}
set()
set()

# Set Operations

In [6]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
# use union function
>>> A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
>>> B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [9]:
# use intersection function on A
>>> A.intersection(B)
{4, 5}

# use intersection function on B
>>> B.intersection(A)
{4, 5}

{4, 5}

In [10]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [11]:
# use difference function on A
>>> A.difference(B)
{1, 2, 3}

# use - operator on B
>>> B - A
{8, 6, 7}

# use difference function on B
>>> B.difference(A)
{8, 6, 7}

{6, 7, 8}

In [12]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [13]:
# use symmetric_difference function on A
>>> A.symmetric_difference(B)
{1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
>>> B.symmetric_difference(A)
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

In [14]:
# in keyword in a set
# initialize myset
myset = set("apple")

# check if 'a' is present
# Output: True
print('a' in myset)

# check if 'p' is present
# Output: False
print('p' not in myset)

True
False

In [15]:
for letter in set("apple"):
  print(letter)

p
a
e
l